[submodule "core-pkg/axskel-awesome/pkg/axskel/etc/skel/.config/awesome/rubato"]
	path = core-pkg/axskel-awesome/pkg/axskel/etc/skel/.config/awesome/rubato
	url = https://github.com/andOrlando/rubato
